In [1]:
import pandas as pd
all_stars = pd.read_csv('all_stars.csv')
all_stars.head()

   Rk Player_first   Player_last Tot  NBA
0   1       Kareem  Abdul-Jabbar  19   19
1   2       LeBron         James  19   19
2   3         Kobe        Bryant  18   18
3   4       Julius        Erving  16   11
4   5          Tim        Duncan  15   15

In [2]:
all_stars = pd.read_csv('all_stars.csv')
drop = ['Rk','Tot']
all_stars = all_stars.drop(drop, axis=1)
# create new column named 'PLAYER_NAME' by combining 'Player_first' and 'Player_last'
all_stars['PLAYER_NAME'] = all_stars['Player_first'] + ' ' + all_stars['Player_last']
# drop 'Player_first' and 'Player_last' columns
all_stars = all_stars.drop(['Player_first', 'Player_last'], axis=1)
# rearrange columns
all_stars = all_stars[['PLAYER_NAME', 'NBA']]
# rename NBA to 'All_star_selections'
all_stars = all_stars.rename(columns={'NBA': 'All_star_selections'})

all_stars.head()

           PLAYER_NAME  All_star_selections
0  Kareem Abdul-Jabbar                   19
1         LeBron James                   19
2          Kobe Bryant                   18
3        Julius Erving                   11
4           Tim Duncan                   15

In [3]:
# export to csv
all_stars.to_csv('all_stars_clean.csv', index=False)